name: buf
on:
  push:
jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: bufbuild/buf-setup-action@v1
      - uses: bufbuild/buf-lint-action@v1.0.3
  breaking:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: bufbuild/buf-setup-action@v1
      - uses: bufbuild/buf-breaking-action@v1.1.2
        with:
          against: buf.build/bufbuild/registry-proto
  push:
    environment: production
    runs-on: ubuntu-20.04
    if: github.ref == 'refs/heads/main'
    needs:
      - lint
      - breaking
    steps:
      - uses: actions/checkout@v3
      - uses: bufbuild/buf-setup-action@v1
      - uses: bufbuild/buf-push-action@v1.1.1
        with:
          buf_token: ${{ secrets.BUF_TOKEN }}
